In [1]:
#dependencies
import numpy as np
import pandas as pd

In [2]:
#file path
file = "Resources/purchase_data.json"

In [3]:
#make a data frame with json data
df = pd.read_json(file)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
#count total users
users = df["SN"].nunique()
#rename SN to total users
total_users = pd.DataFrame({"Total Users": [users]}, columns=["Total Users"])
total_users

   Total Users
0          573

In [5]:
#count UNIQUE items
unique_items = df["Item ID"].nunique()
#count total sales
total_sales = df["Price"].count()
#sum total revenue
total_revenue = df["Price"].sum()
#get average item price
avg_price = round(df["Price"].mean(), 2)
#summary analysis
purchase_analysis = pd.DataFrame({"Unique Items": [unique_items],
                                  "Total Sales": [total_sales],
                                  "Total Revenue": [total_revenue],
                                  "Average Purchase Price": [avg_price]},
                                  columns= ["Unique Items", "Total Sales",
                                  "Total Revenue", "Average Purchase Price"])
purchase_analysis.style.format({"Total Revenue": "${:.2f}", "Average Purchase Price": "${:.2f}"})

In [10]:
#count males
male_users = df[df["Gender"] == "Male"]["SN"].nunique()
#count females
female_users = df[df["Gender"] == "Female"]["SN"].nunique()
#count enbies
other_users = users - male_users - female_users
#%male
percent_male = ((male_users/users)*100)
#%female
percent_female = ((female_users/users)*100)
#%enby
percent_other = ((other_users/users)*100)
#summary analysis
gender_analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                "Player %": [percent_male, percent_female, percent_other],
                                "Totals": [male_users, female_users, other_users]},
                                columns= ["Gender", "Player %", "Totals"])
#make gender the first column
gender_analysis = gender_analysis.set_index("Gender")
#sdd percentage symbol
gender_analysis.style.format({"Player %": "{:.2f}%"})